<div class="d-flex justify-content-end">
    <button id="btn-tool-disclaimer-cancel" type="button" class="btn btn-secondary mr-1" data-userid="{{userid}}" data-dsiclaimerid="{{disclaimerid}}">{{#str}}cancel, tool_disclaimer{{/str}}</button>
    <button id="btn-tool-disclaimer-yes" type="button" class="btn btn-primary mr-1" data-userid="{{userid}}" data-dsiclaimerid="{{disclaimerid}}">{{#str}}yes, tool_disclaimer{{/str}}</button>
    <button id="btn-tool-disclaimer-no" type="button" class="btn btn-danger" data-userid="{{userid}}" data-dsiclaimerid="{{disclaimerid}}">{{#str}}no, tool_disclaimer{{/str}}</button>
</div>
