<div class="row">
    <div class="col">
        <div class="alert alert-info">
            <h4>{{#str}}original_message, tool_disclaimer{{/str}}</h4>
            <p>{{{message}}}</p>
        </div>
    </div>
</div>